# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\OneDrive - University of Essex\Year 3\CE310 Evolutionary Computation and Genetic Programming\CE310 lectures pycharm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
